 /*Comments for CSS*/

 /*The ISO format is the best for web icons (the one s on top of the tab*/

a {
    margin: 10px;
    font-size: x-large;
    text-decoration: none;
}

a:hover {
    background-color: darkslategray;
    color: white;
}

a:visited {
    color:red;
}

p::first-letter{
    font-size: xx-large;
}

p::selection {
    background-color: yellow;
}

input[type=number] {
    border-color: purple;
    border-width: 8px;
    margin: 20px;
}

td {
    padding: 15px;
    border-width: 3px;
    border-style: dotted;
    border-radius: 13px;

}

