<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/jpg" href="/images/roller.png"/>
    <title>About Us</title>
    <link rel="stylesheet" href="/css/aboutus.css">
    <script src="/js/about_us.js" defer></script>
    <!--FONT AWESOME ICONS-->
    <script src="https://kit.fontawesome.com/44de1043d0.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="navbar">
        <h2 class="navbar-Title"><b>The Crafts Toolkit</b></h2>
        <button class="navbar-button" id="homeBtn">Home</button>
        <button class="navbar-button">Features</button>
        <button class="navbar-button" id="aboutBtn">About Us</button>
        <button class="navbar-button" id="newPostBtn"><i class="fa-solid fa-plus"></i>   New Post</button>
        <button class="navbar-collapse"><i style="scale: 160%" class="fa-solid fa-bars"></i></button>
    </div>

    <div class="menu-wrapper">
    </div>
    <!--TODO
        Add Collapsable menu
    -Add collapsable items inside
    -Add
    -->


    <div class="contentDiv">
        <h1 class="Title">Who we are</h1>
        <p class="textStory">
            We are a small company based in Guadalajara, Mexico. We have two main goals as a company. First to provide quality
            furniture with amazing design, without losing all the comfort of a good piece of furniture. Secondly, we wanted to
            provide all the tools that ourselves use, so you can create quality products of your own.
        </p>
        <img class="demoImages" src="images/demo_image1.jpg" alt="Demostration Deck">
    </div>



    <div class="contentDiv">
        <h1 id="ourStory" class="Title">Our Story</h1>
        <p class="textStory" id="textOurStory">
            We started as a small team of friends that was upset about the quality of furniture, and the relation
            between the price and the quality of a furniture product. We wanted to mantain a good product quality while
            while having a fair price.
        </p>
        <img class="demoImages" src="images/demo_image2.jpg" alt="Demo image 2">
    </div>


    <div class="contentDiv">
        <h1 class="Title">Eco footprint</h1>
        <img class="demoImages" src="images/demo_image3.jpg" alt="Demo image 3">
        <p class="textStory">We care a lot about our planet, we created a new way of manufacture to reduce the production
            waste. Also because our products mainly use high quality wood, for each piece of furniture we sell
            we plant 2 trees. Don't get us wrong, we care about our forest's and we take care of them, only using
            the wood we need
        </p>
    </div>


    <footer class="aboutFooter">
        HOLA
    </footer>
</body>
</html>