div {
    width: 200px;
    height: 200px;
}

.top-container {
    background-color: blue;
    border: 10px;
    border-style: solid;
    padding: 20px;
    display: inline-block;
}

.mid-container {
    background-color: red;
    border: 20px;
    border-style: solid;
    /*The position tag:
    -relative=takes the relative position to where it should be and starts coords (0,0) relative to place where should start
    -absolute: takes position to general webpage coords
    -fixed: it will put the position of your stuff relative to the window
    -sticky:
    */
    position: relative;
    display: inline-block;
    top: 250px;
    left: -5px;
}

.bot-container {
    background-color: yellow;
    border: 10px;
    border-style: solid;
    display: inline-block;
    position: relative;
    top: 480px;
    left: -10px;
}